<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Profile</title>
    <link rel="shortcut icon" href="{% static 'doctor/images/admin-dash/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'doctor/css/doctor-confirm.css' %}">
    <script src="{% static 'doctor/js/doctor-dash.js' %}" defer></script>
</head>

<body>
    <div class="wrapper">
        <!--Header-->
        <header><a href="{% url 'homepage' %}"><img src="{% static 'doctor/images/admin-dash/logo_header.svg' %}" class="logo"></a>
            <button class="hamburger" id="hamburger"><img src="{% static 'doctor/images/admin-dash/fi_menu.svg' %}"></button>
        </header>
        <!--Navigation-->
        <nav>
            <ul class="nav-ul" id="nav-ul">
                <li>
                    <a href="{% url 'doctor-dash' %}">
                        <img src="{% static 'doctor/images/doctor-dash/icon-inactive-dashboard.svg' %}" alt="dashboard icon">
                        Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'doctor-profile' %}">
                        <img src="{% static 'doctor/images/doctor-dash/profile-icon.svg' %}" alt="profile icon">
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'doctor-search' %}">
                        <img src="{% static 'doctor/images/doctor-dash/patients-icon.svg' %}" alt="patients icon">
                        Patients</a>
                </li>
                <li>
                    <a href="{% url 'doctor-consultations' %}" class="activeLink">
                        <img src="{% static 'doctor/images/doctor-dash/icon-consultation-active.svg' %}" alt="consultation icon">
                        Consultations</a>
                </li>
                <li>
                    <a href="{% url 'doctor-schedule' %}">
                        <img src="{% static 'doctor/images/doctor-dash/schedule-icon.svg' %}" alt="calendar icon">
                        My Schedule</a>
                </li>
                <li>
                    <a href="{% url 'doctor-support' %}">
                        <img src="{% static 'doctor/images/doctor-dash/contact-icon.svg' %}" alt="phone icon">
                        Contact Us / Support</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <img src="{% static 'doctor/images/admin-dash/logout_icon.svg' %}" alt="logout icon" />
                        Logout</a>
                </li>
            </ul>
        </nav>
        <!-- Profile -->
        <section class="profile bubble-style">
            <div class="profile">
                <img src="{% static 'doctor/images/doctor-profile/bostickprofile.svg' %}" alt="image of current user" class="userPic" />
                <div class="current-user">
                    <h1>{{patient}}</h1>
                </div>
                <div class="info">
                    <div class="birth">
                        <h3>Date of Birth</h3>
                        <p>{{patient.D_O_B}}</p>
                    </div>
                    <div class="marital">
                        <h3>Marital Status</h3>
                        <p>{{patient.marital_status}}</p>
                    </div>
                    
                    <div class="ethnicity">
                        <h3>Ethnicity</h3>
                        <p>{{patient.race_or_ethnicity }}</p><!--African American-->
                        <!--p>Japanese</p>
                        <p>Italian</p-->
                            
                    </div>
                    <div class="gender">
                        <h3>Gender</h3>
                        <p>{{patient.sex}}</p>
                    </div>
                    <div class="smoker">
                        <h3>Smoker</h3>
                        <p>{{patient.smoker}}</p>
                    </div>
                    <div class="age">
                        <h3>Age</h3>
                        <p>{{patient.age}}</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Buttons-->
        <section class="request-buttons bubble-style">

            {% if messages %} 
                <ul class="message">
                    {% for message in messages %} 
                    <b{% ifequal message.tags error %}></b> 
                    <div class="alert alert-error">{{message}}</div> 
                    {% else %} 
                    <div class="alert alert-success">{{message}}</div>
                    {% endifequal %} 
                    {% endfor %}
                </ul>

            {% else %} 
            <form action="" method="POST">
                {% csrf_token %} 
                                              
                <div class="big-decline-btn">
                    <button type="submit" button class="review" name="app_status" value="2">Decline</button>
                </div>
                
                <div class="big-accept-btn">
                    <button type="submit" button class="accept" name="app_status" value="1">Accept</button>
                </div>
                      
            </form> 
            {% endif %}  
        </section>      
        <!-- Contact info-->
        <section class="contact">
            <div class="heading">
                <h2>Contact and Locations</h2>
            </div>
            <div class="contact-info bubble-style">
                <h3>Address</h3>
                <p>{{patient_contact.address_1}}</p>
                <p>{{patient_contact.city}}, {{patient_contact.state}}, {{patient_contact.zip_code}}</p>
                <h3>Phone</h3>
                <p>{{patient.telephone}}</p>
                <h3>Email</h3>
                <p>{{user.email}}</p>
            </div>
        </section>
        <!-- Emergency Contact-->
        <section class="e-contact">
            <div class="heading">
                <h2>Emergency Contact</h2>
            </div>
            
            <div class="emergency-info bubble-style">
                {% if patient_econtact %}
                <div class="info">
                    <div class="name">
                        <h3>Name</h3>
                        <p>{{patient_econtact.name}}</p>
                    </div>
                    <div class="phone">
                        <h3>Phone</h3>
                        <p>{{patient_econtact.phone_number}}</p>
                    </div>
                    <div class="relationship">
                        <h3>Relationship</h3>
                        <p>{{patient_econtact.relation}}</p>
                    </div>
                    <div class="email">
                        <h3>Email</h3>
                        <p>{{patient_econtact.email}}</p>
                    </div>
                    <div class="address">
                        <h3>Address</h3>
                        <p>{{patient_econtact.address_1}}</p>
                        <p>{{patient_econtact.city}}, {{patient_econtact.state}}, {{patient_econtact.zip_code}}</p>
                    </div>
                {% else %} 
                    <div class="error response">
                        <p>No emergency contact information found</p>
                    </div>    
                    
                </div>
            {% endif %}
        
        </section>
        <!-- Recent visits   -->
        <section class="visits">
            <div class="heading">
                <h2>Recent Visits</h2>
            </div>
            {%comment%}<div class="bubble-heading">
                <p><b>Reason for Appointment</b></p>
                <p><b>Date</b></p>
                <p><b>Time</b></p>
            </div>{%endcomment%}
            {% for visit in recent_visit%} 
            <div class="visit-bubble bubble-style">
                <div class="reason">
                    <h3>Reason for Appointment</h3>
                    <p>{{visit.appt_reason}}</p>
                </div>
                <div class="date">
                    <h3>Date</h3>
                    <p>{{visit.appointment_date}}</p>
                </div>
                <div class="time">
                    <h3>Time</h3>
                    <p>{{visit.time}}</p>
                </div>
            </div>
            {% endfor %}
        </section>    
            {% comment %}<div class="visit-bubble bubble-style">
                <div class="reason">
                    <p>CT scan of right shoulder</p>
                </div>
                <div class="date">
                    <p>6/7/21</p>
                </div>
                <div class="time">
                    <p>11:00am</p>
                </div>
            </div>
            <div class="visit-bubble bubble-style">
                <div class="reason">
                    <p>Brain MRI for headaches</p>
                </div>
                <div class="date">
                    <p>6/7/21</p>
                </div>
                <div class="time">
                    <p>11:00am</p>
                </div>
            </div>{% endcomment %} 
            
        
        <!-- Medical Records   -->
        <section class="records">
            <div class="heading">
                <h2>Medical Records</h2>
            </div>
            {% if medical_records %} 
            {% for record in medical_records %}
            <div class="records-bubble bubble-style">
                <div class="test">
                    <h3>{{record.test_results</h3>
                    <p>{{record.date_visited}}</p>
                </div>
                <div class="results-btn">
                    <button class="results">Results</button>
                </div>
            </div>
            {% endfor %} 
            {% else %} 
            <div class="records-bubble bubble-style">
                <div class="error response">
                    <p> No medical records found</p>
                </div> 
            </div>
            {% endif %} 
                        
            {% comment %}<div class="records-bubble bubble-style">
                <div class="test">
                    <h3>CT Scan</h3>
                    <p>6/28/21</p>
                </div>
                <div class="results-btn">
                    <button class="results">Results</button>
                </div>
            </div>
            <div class="records-bubble bubble-style">
                <div class="test">
                    <h3>MRI Scan</h3>
                    <p>6/28/21</p>
                </div>
                <div class="results-btn">
                    <button class="results">Results</button>
                </div>
            </div>{% endcomment %}
            
        </section>
</body>

</html>