<!DOCTYPE html>
<html lang="en">
{% load static  %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient - Century Health</title>
    <link rel="shortcut icon" href="{% static 'patient/images/patient-images/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'patient/css/patient-profile.css' %}">
    <script src="{% static 'patient/js/patient-profile.js' %}" defer></script>
</head>

<body>
    <div class="wrapper">
        <!--Header-->
        <header><a href="{% url 'homepage' %}"><img src="{% static 'patient/images/patient-images/logo.svg' %}" class="logo"></a>
            <button class="hamburger" id="hamburger"><img src="{% static 'patient/images/logo/fi_menu.svg' %}"></button>
        </header>
        <!--Navigation-->
        <nav>
            <ul class="nav-ul" id="nav-ul">
                <li>
                    <a href="{% url 'patient-dash' %}">
                        <img src="{% static 'patient/images/patient-profile-img/dashboard-white.svg' %}" alt="dashboard icon">
                        Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'patient-profile' %}" class="active-link">
                        <img src="{% static 'patient/images/patient-profile-img/profile-icon-yellow.svg' %}" alt="profile icon">
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'patient-doctor' %}">
                        <img src="{% static 'patient/images/patient-images/doctor-icon.svg' %}" alt="doctor icon">
                        Talk to a Doctor</a>
                </li>
                <li>
                    <a href="{% url 'patient-clinic' %}">
                        <img src="{% static 'patient/images/patient-images/clinic-icon.svg' %}" alt="clinics icon">
                        Pharmacies and Clinics</a>
                </li>

                <li>
                    <a href="{% url 'support' %}">
                        <img src="{% static 'patient/images/patient-images/contact-icon.svg' %}" alt="contact icon">
                        Contact Us / Support</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <img src="{% static 'patient/images/patient-images/logout.svg' %}" alt="logout icon" />
                        Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <a class="back" href="{% url 'patient-dash' %}">< Back</a>
            <h1 class="main-heading">Patient Profile</h1>
            <form method = "POST">
            {% csrf_token %}
                <!--Patient Info-->
                <section class="patient-info-block">
                    <div class="heading">
                        <h2>Personal Information</h2>
                    </div>
                    <div class="personal-info bubble-style">
                        <div class="patient">
                            <img src="{% static 'patient/images/patient-images/patient-icon.png' %}" alt="profile-image" class="userPic" />
                            <p>{{ patient.patient.first_name }} {{ patient.patient.last_name }}</p>
                        </div>
                        <div class="patient-info">
                            <div>
                                <label for="birth-date">Date of Birth </label><br>
                                <input id="birth-date" type="date" name="birthdate" value="{{patient.D_O_B}}">
                            </div>
                            <div>
                                <label for="age">Age</label><br>
                                {% comment %} <p id="age" name="age">{{ patient.age }}</p> {% endcomment %}
                                <input id="age" name="age" readonly value="{{patient.age}}">
                            </div>
                            <div>
                            <label for="ethnicity">Race/Ethnicity</label><br>
                            <select id="ethnicity" name="ethnicity">
                                <option>{{patient.race_or_ethnicity}}</option>
                                <option value="Asian">Asian or Pacific Islander</option>
                                <option value="Black">Black or African American</option>
                                <option value="Hispanic">Hispanic or Latino</option>
                                <option value="Native">Native American or Alaskan Native</option>
                                <option value="White">White or Caucasian</option>
                                <option value="Multiracial">Multiracial</option>
                                <option value="Other">Other</option>
                            </select></div>
                            <div>
                            <label for="gender">Gender</label><br>
                            <input id="gender" type="text" name="gender" maxlength="10" value="{{patient.sex}}">
                            </div>
                            <div>
                            <label for="martial-status">Marital status</label><br>
                            <input id="martial-status" type="text" name="marital" value="{{patient.marital_status}}"></div>
                        </div>
                    </div>
                </section>
                <!--Contact Info-->
                <div class="contact-wrapper">
                <section class="contact-info-block">
                    <div class="heading">
                        <h2>Contact Information</h2>
                    </div>
                    <div class="contact-info">
                        <label for="address1">Address 1</label><br>
                        <input id="address1" type="text" name="address1" value="{{contact.address_1}}"><br>
                        <label for="address2">Address 2</label><br>
                        <input id="address2" type="text" name="address2" value="{{contact.address_2}}"><br>
                        <label for="city">City</label><br>
                        <input id="city" type="text" name="city" value="{{contact.city}}"><br>
                        <label for="state">State</label><br>
                        <input id="state" type="text" name="state" value="{{contact.state}}"><br>
                        <label for="zipcode">Zip Code</label><br>
                        <input id="zipcode" type="number" name="zipcode" value="{{contact.zip_code}}"><br>
                        <label for="phone">Phone Number</label><br>
                        <input id="phone" type="text" name="phone" value="{{patient.telephone}}"><br>
                        <label for="email">Email</label><br>
                        <input id="email" type="email" name="email" value="{{patient.patient.email}}"><br>
                    </div>
                </section>
                <!--Emergency-Contact-->
                <section class="emergency-contact-block">
                    <div class="heading">
                        <h2>Emergency Contact Information</h2>
                    </div>
                    <div class="emergency-contact">
                        <label for="contactname">Name</label><br>
                        <input id="contactname" type="text" name="emcontactname" value="{{em_contact.name}}"><br>
                        <label for="relation">Relationship</label><br>
                        <input id="relation" type="text" name="emrelation" value="{{em_contact.relation}}"><br>
                        <label for="contactaddress1">Address 1</label><br>
                        <input id="contactaddress1" type="text" name="emaddress1" value="{{em_contact.address_1}}"><br>
                        <label for="contactaddress2">Address 2</label><br>
                        <input id="contactaddress2" type="text" name="emaddress2" value="{{em_contact.address_2}}"><br>
                        <label for="contactcity">City</label><br>
                        <input id="contactcity" type="text" name="emcity" value="{{em_contact.city}}"><br>
                        <label for="contactstate">State</label><br>
                        <input id="contactstate" type="text" name="emstate" value="{{em_contact.state}}"><br>
                        <label for="contactzipcode">Zip Code</label><br>
                        <input id="contactzipcode" type="number" name="emzipcode" value="{{em_contact.zip_code}}"><br>
                        <label for="contactphone">Phone Number</label><br>
                        <input id="contactphone" type="tel" name="emphone" value="{{em_contact.telephone}}"><br>
                        <label for="contactemail">Email</label><br>
                        <input id="contactemail" type="email" name="ememail" value="{{em_contact.email}}">
                    </div>

                </section>
                </div>
                <button class="update-btn">Update Profile</button>
            </form>
        </main>
    </div>
</body>

</html>