<!DOCTYPE html>
<html lang="en">
{% load static %} 

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient - Century Health</title>
    <link rel="shortcut icon" href="{% static 'aidApp/images/admin-dash/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'patient/css/patient-appt.css' %}">
    <script src="{% static 'patient/js/patient-dash.js' %}" defer></script>
</head>

<body>
    <div class="wrapper">
        <!--Header-->
        <header><a href="#"><img src="{% static 'patient/images/patient-images/logo.svg' %}" class="logo"></a>
            <button class="hamburger" id="hamburger"><img src="../images/admin-dash/fi_menu.svg"></button>
        </header>
        <!--Navigation-->
        <nav>
            <ul class="nav-ul" id="nav-ul">
                <li>
                    <a href="{% url 'patient-dash' %}">
                        <img src="{% static 'patient/images/patient-images/dash-icon.svg' %}" alt="dashboard icon">
                        Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'patient-profile' %}">
                        <img src="{% static 'patient/images/patient-images/profile-icon.svg' %}" alt="profile icon">
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'patient-doctor' %}" class="active-link">
                        <img src="{% static 'patient/images/patient-doctor-img/doctor-icon-yellow.svg' %}" alt="doctor icon">
                        Talk to a Doctor</a>
                </li>
                <li>
                    <a href="{% url 'patient-clinic' %}">
                        <img src="{% static 'patient/images/patient-images/clinic-icon.svg' %}" alt="clinics icon">
                        Pharmacies and Clinics</a>
                </li>

                <li>
                    <a href="{% url 'support' %}" >
                        <img src="{% static 'patient/images/patient-images/contact-icon.svg' %}" alt="contact icon">
                        Contact Us / Support</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <img src="{% static 'patient/images/patient-images/logout.svg' %}" alt="logout icon" />
                        Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <a class="back" href="{% url 'patient-doctor' %}">< Back</a>
            <section class="dr-section bubble-style">
                <img src="{% static 'patient/images/patient-doctor-profile-img/patient-doctor-icon.png' %}" alt="Dr Crusher">

                <div class="dr-info">
                    <h1>Dr. {{gform.health_practitioner}}, MD</h1><!--Beverly Crusher-->
                    <div class="dr-info-details">
                    <div class="dr-info-group">
                        <p class="dr-info-title">Specialty</p>
                        <p class="dr-info-detail"><b>{{gform.specialty}}</b></p><!--Internal Medicine and Pediatrics-->

                        <p class="dr-info-title">Location</p>
                        <p class="dr-info-detail"><b>{{gform.clinics.0}}</b></p><!--Cleveland General Hospital-->

                        <p class="dr-info-title">Insurance Accepted</p>
                        {% for item in  gform.insurance_accepted %} 
                        <p class="dr-info-detail"><b>{{item}}</b></p><!--Blue Cross, Cigna, and Shield-->
                        {% endfor %}
                    </div>
                    <div class="dr-info-group">
                    <p class="dr-info-title">Languages</p>
                    <p class="dr-info-detail"><b>{{gform.languages}}</b></p><!--English and Spanish-->

                    <p class="dr-info-title">Accepting New Patients</p>
                    <p class="dr-info-detail"><b>{{gform.accepting_new_patients}}</b></p><!--Yes-->
                    </div>
                    </div>
                </div>
                <div class="rating-review-info">
                    <h1 class="rating">{{gform.rating_reviews}}</h1><!--46-->
                    <div class="star-rating">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                    </div>
                    <div class="review">
                        <p><b>{{gform.reviews}} </b>Reviews</p><!--34-->
                        <p><b>{{gform.patient_comments}} </b>Patient Comments</p><!--30-->
                       
                    </div>
                    
                </div>
            </section>
            {% if messages %} 
            <ul class="message">
                {% for message in messages %} 
                <li{% ifequal message.tags error %}></li> 
                <div class="alert alert-error">{{message}}</div> 
                {% else %} 
                <div class="alert alert-success">{{message}}</div>
                {% endifequal %} 
                {% endfor %}
            
            </ul>
               
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <section class="appointment">
                    <!--Calender from codepen-->
                    <div class="cal-cont">
                    <h2 class="heading">Available Dates</h2>
                    <div class="container">
                        <div class="calendar">
                        <div class="month">
                            <i class="fas fa-angle-left prev"></i>
                            <div class="date">
                            <h1></h1>
                            <p></p>
                            </div>
                            <i class="fas fa-angle-right next"></i>
                        </div>
                        <div class="weekdays">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="days">
                            <script>
                                $(function() {
                                  $('#id_form.appointment_date').patient-appt({
                                    format:'YYYY-MM-DD',
                                    daysOfWeekDisabled: [0],
                                    //startDate:'0d',
                                    //yearRange:'2021:2024',
                                                                      
                                  });
                                });
                            </script>
                        </div>
                        </div>
                        <!--{{form.appointment_date}}-->
                    </div>
                    </div>
                    <div class="time">
                        <h2 class="heading">Available Time Slots</h2>
                        <div class="available-times-wrapper border-style">
                            <div class="available-times">
                                {% for timeslot in form.timeslots %} 
                                <option value="">{{timeslot}}</option>
                                {% endfor %}
                                {% comment %}<p>9:00 AM</p>
                                <p>10:00 AM</p>
                                <p class="available-time">11:00 AM</p>
                                <p>12:00 PM</p>
                                <p class="available-time">1:00 PM</p>
                                <p class="available-time">2:00 PM</p>
                            </div>
                            <div class="available-times">
                                <p class="available-time">3:00 PM</p>
                                <p>4:00 PM</p>
                                <p>5:00 PM</p> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="reason-wrapper">
                        <h2 class="heading">Reason for Appointment</h2>
                        <p>Max 200 Characters</p>
                        <div class="reason">
                        <textarea class="border-style" name="appt_reason" rows="16" value="{{form.appt_reason}}">
                        <button class="schedule-btn" type="submit">Make an Appointment</button></div>
                    </div>

                </section>
            </form>    
            {% endif %}
        </main>
    </div>
    <script src="{% static 'patient/js/patient-appt.js' %}"></script>
    <script src="script.js"></script>
</body>
</html>