<!DOCTYPE html>
<html lang="en">
{% load static%}    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient - Century Health</title>
    <link rel="shortcut icon" href="{% static 'aidApp/images/admin-dash/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'patient/css/patient-appt.css' %}">
    <script src="{% static 'patient/js/patient-dash.js' %}" defer></script>

    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script-->
    <!--link href="{% static 'aidApp/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/-->
    <!--script src="{% static 'aidApp/js/bootstrap.js' %}"></script-->

    <!--link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

       

</head>

<body>
    <div class="wrapper">
        <!--Header-->
        <header><a href="#"><img src="{% static 'patient/images/patient-images/logo.svg' %}" class="logo"></a>
            <button class="hamburger" id="hamburger"><img src="{% static 'aidApp/images/admin-dash/fi_menu.svg' %}"></button>
        </header>
        <!--Navigation-->
        <nav>
            <ul class="nav-ul" id="nav-ul">
                <li>
                    <a href="{% url 'patient-dash' %}">
                        <img src="{% static 'patient/images/patient-images/dash-icon.svg' %}" alt="dashboard icon">
                        Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'patient-profile' %}">
                        <img src="{% static 'patient/images/patient-images/profile-icon.svg' %}" alt="profile icon">
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'patient-doctor' %}" class="active-link">
                        <img src="{% static 'patient/images/patient-doctor-img/doctor-icon-yellow.svg' %}" alt="doctor icon">
                        Talk to a Doctor</a>
                </li>
                <li>
                    <a href="{% url 'patient-clinic' %}">
                        <img src="{% static 'patient/images/patient-images/clinic-icon.svg' %}" alt="clinics icon">
                        Pharmacies and Clinics</a>
                </li>

                <li>
                    <a href="{% url 'support' %}" >
                        <img src="{% static 'patient/images/patient-images/contact-icon.svg' %}" alt="contact icon">
                        Contact Us / Support</a>
                </li>
                <li>
                    <a href="{% url 'users:logout' %}">
                        <img src="{% static 'patient/images/patient-images/logout.svg' %}" alt="logout icon" />
                        Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <a class="back" href="{% url 'patient-doctor' %}">< Back</a>
            <section class="dr-section bubble-style">
                <img src="{% static 'patient/images/patient-doctor-profile-img/patient-doctor-icon.png' %}" alt="Dr Crusher">

                <div class="dr-info">
                    <h1>Dr. {{gform.health_practitioner}}, MD</h1><!--Beverly Crusher-->
                    <div class="dr-info-details">
                    <div class="dr-info-group">
                        <p class="dr-info-title">Specialty</p>
                        <p class="dr-info-detail"><b>{{gform.specialty}}</b></p><!--Internal Medicine and Pediatrics-->

                        <p class="dr-info-title">Location</p>
                        <p class="dr-info-detail"><b>{{gform.clinics.0}}</b></p><!--Cleveland General Hospital-->

                        <p class="dr-info-title">Insurance Accepted</p>
                        <p class="dr-info-detail"><b>{{gform.insurance_accepted}}</b></p><!--Blue Cross, Cigna, and Shield-->
                    </div>
                    <div class="dr-info-group">
                    <p class="dr-info-title">Languages</p>
                    <p class="dr-info-detail"><b>{{gform.languages}}</b></p><!--English and Spanish-->

                    <p class="dr-info-title">Accepting New Patients</p>
                    <p class="dr-info-detail"><b>{{gform.accepting_new_patients}}</b></p><!--Yes-->
                    </div>
                    </div>
                </div>
                <div class="rating-review-info">
                    <h1 class="rating">{{gform.rating_reviews}}</h1><!--46-->
                    <div class="star-rating">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                        <img src="{% static 'patient/images/patient-doctor-profile-img/star.svg' %}">
                    </div>
                        <div class="review">
                        <p><b>{{gform.reviews}} </b>Reviews</p><!--34-->
                        <p><b>{{gform.patient_comments}} </b>Patient Comments</p><!--30-->
                       
                    </div>
                    
                </div>
                
            </section>
            {% if messages %} 
            <ul class="message">
                {% for message in messages %} 
                <li{% ifequal message.tags error %}></li> 
                <div class="alert alert-error">{{message}}</div> 
                {% else %} 
                <div class="alert alert-success">{{message}}</div>
                {% endifequal %} 
                {% endfor %}
            
            </ul>
               
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                                           
                <section class="appointment">

                    <div class="date">
                        <h3 class="heading">Available Dates</h3>
                        <div class="calendar border-style">
                            <div class="calendar__opts">
                                {{form.appointment_date}}
                                <script>
                                    $(function() {
                                      $('.date-input' ).datetimepicker({
                                        format:'YYYY-MM-DD',
                                        daysOfWeekDisabled: [0],
                                        //startDate:'0d',
                                        //yearRange:'2021:2024',
                                                                          
                                      });
                                    });
                                </script>
                            </div>
                            <p style = "color: var(--primaryColor);", style = "text-align:center">Please select current or future date.</p> 
                            
                        </div>
                    </div>
                    <div class="time">
                        <h3 class="heading">Available Time Slots</h3>
                        <div class="available-times-wrapper border-style">
                            <select  size='12' name="timeslots" id="timeslots"> 
                                <div class="available-times"> 
                                    {% for timeslot in form.timeslots %} 
                                        <option value="">{{timeslot}}
                                    {% endfor %}
                                        
                                </div>                          
                            </select>        
                        </div>
                    </div>    
                                    
                    <div class="reason-wrapper">
                        <h3 class="heading">Reason for Appointment</h3>
                        <p>Max 200 Characters</p>
                        <div class="reason">
                        <!--textarea class="border-style" id="appt-reason" name="appt_reason" row=16></textarea-->
                        <p><value=>{{form.appt_reason}}</p>  
                        
                        
                        <!--button class="schedule-btn">Make an Appointment</button></div-->
                        <input type="submit" class="schedule-btn" value="Make an Appointment" />
                    </div>
                        
                        
                </section>
            </form>
            {% endif %}
                
        </main>
    </div>
</body>

</html>

